<% content_for :title, 'News' %>

<div class="content__centered">
  <h1>News</h1>
  <hr>
  <br>
  <br>
  <% if params[:page].to_i > 1 %>
    <div class='digg_pagination'>
      <%= will_paginate @posts %>
    </div>
    <br>
  <% end %>
  <% @posts.each do |post| %>
    <article class='blog-post__snippet'>
        <div class='blog-post__header-snippet'>
          <h2><%= link_to post.title, blog_post_path(post) %></h2>
        </div>
        <p>
        <%= truncate(strip_tags(post.content), length: 600) %>
        <%= link_to '(Read more)', blog_post_path(post.slug) %>
        </p>
    </article>
    <br>
  <% end %>
  <div class='digg_pagination'>
    <%= will_paginate @posts %>
  </div>
</div>
