<div class="breadcrumbs">
  <%= link_to "Blog", blog_posts_path %> &raquo; <%= @post.title %>
</div>

<div class='blog-post__header'>
  <h1><%= @post.title %></h1>

  <div class='blog-post__posted-at'>
    Posted
    <%= @post.posted_at.localtime.to_s(:long) %>
    by
    <%= @post.author %>
  </div>
</div>


<article>
  <%= @post.content.html_safe %>
</article>
