<%= content_for :title, @post.meta_title.present? ? @post.meta_title : @post.title %>
<%= content_for :description, @post.meta_desc %>

<div class="breadcrumbs">
  <%= link_to "News", blog_posts_path %> &raquo; <%= @post.title %>
</div>

<div class='hero'>
  <h1><%= @post.title %></h1>

  <p class='text-light'>
    <%= @post.posted_at.localtime.to_s(:long) %>
  </p>
</div>

<article>
  <div class='quill-output'><%= @post.content.html_safe %></div>
</article>
