<% if @highlighted_campaigns.present? %>
<h1>Our work</h1>

<div id='homepage-campaigns'>
  <% @highlighted_campaigns.each do |campaign| %>
  <article class='homepage-campaign'>
    <div class='background-wrapper'>
      <div class='background' style='background-image: url(<%= campaign.background_image_url %>)'></div>
      <div class='color-overlay' style='background-color: <%= campaign.homepage_color || '#f00' %>'></div>
    </div>
    <div class='campaign-content'>
      <strong>
        <%= campaign.title.html_safe %>
      </strong>

      <p>
        <%= campaign.homepage_text || truncate(strip_tags(campaign.content), length: 150) %>
      </p>

      <span>Get involved &#8594;</span>
    </div>
  </article>
  <% end %>
</div>

<p class='all-campaigns'>
  <%= link_to (root_url + 'campaigns/'), class: 'button button-primary' do %>
  See all campaigns &#8594;
  <% end %>
</p>
<% end %>