<% if @events.present? %>
  <h1>Upcoming events</h1>

  <div id='homepage-events'>
    <% @events.each do |event| %>
      <article class='homepage-event'>
        <%= link_to event_path(event, slug: event.slug) do %>
          <h3>
            <%= event.name %>
          </h3>
          <p>
            <%= event.start_time.strftime('%A, %B %e, %Y at %l:%M %p') %>
          </p>

          <p>
            <%= event.venue %>
            <% if event.address['city'] and event.address['state'] %>
              in
              <%= event.address['city'] %>,
              <%= event.address['state'] %>
            <% end %>
          </p>
        <% end %>
      </article>
    <% end %>
  </div>

  <%= link_to events_path, class: 'button button-primary' do %>
    See more on our calendar &#8594;
  <% end %>
<% end %>
