<%= content_for :title, nil %>
<%= content_for :description, "The East Bay Democratic Socialists of America (DSA) are democratically building a movement for social change in local communities and politics." %>

<div id='home-hero' class='hero hero-home' style='background-image: url(<%= Setting.homepage_image_url %>);'>
  <div class='home-container home-columns container container-full-width'>
    <div id='home-hero-content'>
      <h1>
        We are the East Bay chapter of <strong>Democratic Socialists of America</strong>
      </h1>
      <p>
        <%= Setting.homepage_header_text %>
      </p>
      <div>
        <%= link_to 'Join a Campaign', '/campaigns', class: 'button button-primary' %>
        <%= link_to 'Donate', '/donate', class: 'button button-primary' %>
      </div>
    </div>
  </div>
</div>

<div id='home-cta'>
  <div class='home-container home-columns container container-full-width'>
    <div id="home-newsletter">
      <div>
        <h3>Read the newsletter</h3>
        <p>Stay up to date with our work!</p>
      </div>

      <% person_params = params[:person] || {} %>
      <%= form_tag signup_path do %>
      <% if @state == 'error' %>
      <div class='signup__error'>Error: E-mail cannot be blank!</div>
      <% end %>
      <div class='signup'>
        <%= email_field_tag 'person[email]', person_params[:email], class: 'input signup__email', placeholder: 'E-mail', required: true %>
        <%= submit_tag 'Submit', class: 'button button-secondary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class='home-container home-content container container-full-width'>
  <div id='home-highlighted'>
    <%= render 'highlighted_campaigns' %>
  </div>

  <div id='home-events'>
    <%= render 'upcoming_events' %>
  </div>
</div>

<%= render partial: 'shared/schema' %>
