<%= content_for :title, nil %>
<%= content_for :description, "The East Bay Democratic Socialists of America (DSA) are democratically building a movement for social change in local communities and politics." %>

<div id='home-hero' class='hero hero-home' style='background-image: url(<%= Setting.homepage_image_url %>);'>
  <div class='home-container home-columns container container-full-width'>
    <div id='home-hero-content'>
      <h1>
        We are the East Bay chapter of <strong>Democratic Socialists of America</strong>
      </h1>
      <p>
        <%= Setting.homepage_header_text %>
      </p>
      <div>
        <%= link_to 'Join DSA', 'http://dsausa.org/join', class: 'button button-secondary' %>
        <%= link_to 'Attend an event', '/events', class: 'button button-secondary' %>
      </div>
    </div>
  </div>
</div>

<div id='home-cta'>
  <div class='home-container home-columns container container-full-width'>
    <div id="home-newsletter">
      <div>
        <h3>Read the newsletter</h3>
        <p>Stay up to date with our work!</p>
      </div>

      <% person_params = params[:person] || {} %>
      <%= form_tag signup_path do %>
      <% if @state == 'error' %>
      <div class='signup__error'>Error: E-mail cannot be blank!</div>
      <% end %>
      <div class='signup'>
        <%= email_field_tag 'person[email]', person_params[:email], class: 'input signup__email', placeholder: 'E-mail', required: true %>
        <%= submit_tag 'Submit', class: 'button button-secondary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class='home-container home-content container container-full-width'>
  <div id='home-convention'>
    <h1>Convention 2020</h1>

    <div id='homepage-campaigns'>
      <article class='homepage-campaign'>
        <a href='/convention/' class="campaign-link">
          <div class='background-wrapper'>
            <div class='background' style='background-image: url(https://ebdsa-website.s3-us-west-1.amazonaws.com/upload/2020-07-30/1596138013975-WhatsApp%20Image%202020-07-29%20at%206.34.14%20PM.jpeg)'></div>
            <div class='color-overlay' style='background-color: #01C854'></div>
          </div>
          <div class='campaign-content'>
            <strong>
              Join Our Annual Convention
            </strong>

            <p>
              East Bay DSA is a democratically run, membership-based organization; every year we hold an annual Convention where we collectively debate and decide on our direction for the coming year. It's a moment to reflect on our previous work and our material conditions and consider what we, as socialists, should spend our memberships’ capacity organizing around.ƒ
            </p>

            <span>RSVP Now &#8594;</span>
          </div>
        </a>
      </article>
    </div>
  </div>

  <div id='home-highlighted'>
    <%= render 'highlighted_campaigns' %>
  </div>

  <div id='home-events'>
    <%= render 'upcoming_events' %>
  </div>

  <div id='home-news'>
    <%= render 'featured_posts' %>
  </div>
</div>

<%= render partial: 'shared/schema' %>