<div class='container'>
  <div class="hero">
    <h1>Events</h1>

    <p>
      Want to learn more about East Bay DSA? Attend one of our many events in
      the area to find out how you can get involved in improving the lives
      of working people.
    </p>
  </div>

  <form id='calendar-filter'>
    <p>
      <label>
        <%= check_box_tag :meeting, 1, true %>
        Meetings
      </label>
      <label>
        <%= check_box_tag :canvass, 1, true %>
        Canvasses
      </label>
      <label>
        <%= check_box_tag :phonebank, 1, true %>
        Phone Banks
      </label>
    </p>
  </form>

  <h2 class='calendar-heading'>
    <%= link_to events_path(start_date: @start_date-1.month, tags: params[:tags]) do %>
      <i class='fa fa-caret-left'></i>
    <% end %>
    <%= @start_date.strftime('%B %Y') %>
    <%= link_to events_path(start_date: @start_date+1.month, tags: params[:tags]) do %>
      <i class='fa fa-caret-right'></i>
    <% end %>
  </h2>

  <div class='visible-mobile'>
    <!-- Mobile should only display upcoming_events if it's set, otherwise all events -->
    <% @upcoming_events.each do |event| %>
      <article>
        <p>
          <%= link_to event.name, event_path(event, slug: event.slug) %><br>
          <%= event.start_time.strftime('%A, %B %e, %Y at %l:%M %p') %>
        </p>
      </article>
    <% end %>
    <% if @upcoming_events.blank? %>
      <em>
        No
        <%= @start_date.beginning_of_month >= Date.today.beginning_of_month ? 'upcoming' : '' %>
        events for
        <%= @start_date.strftime('%B') %>
      </em>
    <% end %>
  </div>

</div>

<div class='container container-full-width hidden-mobile'>
  <%= month_calendar events: @events do |date, events| %>
    <span class='simple-calendar--date-wrapper'>
      <span class='simple-calendar--date'>
        <%= date.day %>
      </span>
    </span>

    <div class='simple-calendar--events'>
      <% events.each do |event| %>
        <%= link_to event_path(event, slug: event.slug), class: 'simple-calendar--events--event' do %>
          <span class='simple-calendar--events--event-title'><%= event.name %><span>
          <br />
          <span class='simple-calendar--events--event-time'><%= format_time_range_short event.start_time, event.end_time %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% content_for :schema do %>
  <script type="application/ld+json">
    [
      <% @events.each_with_index do |event, index| %>
        <% if event.name && event.venue %>
          {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "<%= event.name %>",
            "startDate": "<%= event.start_time %>",
            "endDate": "<%= event.end_time %>",
            "location": {
              "@type": "Place",
              "name": "<%= event.venue %>",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "<%= event.address['address1'] %>",
                "addressLocality": "<%= event.address['city'] %>",
                "postalCode": "<%= event.address['zip'] %>",
                "addressRegion": "<%= event.address['state'] %>",
                "addressCountry": "<%= event.address['country_code'] %>"
              }
            },
            "image": "<%= event.image_url %>",
            "description": "<%= event.description %>"
          }<%= ', ' unless index == @events.length - 1 %>
        <% end %>
      <% end %>
    ]
  </script>
<% end %>
