<h1>East Bay DSA events</h1>

<p>Want to learn more about East Bay DSA? Attend one of our many events in
  the area to find out how you can get involved in improving the lives
  of working people.</p>

<%= month_calendar events: @events do |date, events| %>
  <span class='simple-calendar--date-wrapper'>
    <span class='simple-calendar--date'>
      <%= date.day %>
    </span>
  </span>

  <div class='simple-calendar--events'>
    <% events.each do |event| %>
      <%= link_to event_path(event, slug: event.slug), class: 'simple-calendar--events--event' do %>
        <span class='simple-calendar--events--event-title'><%= event.name %><span>
        <br />
        <span class='simple-calendar--events--event-time'><%= format_time_range_short event.start_time, event.end_time %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
