<div class='container'>
  <h1>East Bay DSA events</h1>

  <p>Want to learn more about East Bay DSA? Attend one of our many events in
    the area to find out how you can get involved in improving the lives
    of working people.</p>
</div>

<%= month_calendar events: @events do |date, events| %>
  <span class='simple-calendar--date-wrapper'>
    <span class='simple-calendar--date'>
      <%= date.day %>
    </span>
  </span>

  <div class='simple-calendar--events'>
    <% events.each do |event| %>
      <%= link_to event_path(event, slug: event.slug), class: 'simple-calendar--events--event' do %>
        <span class='simple-calendar--events--event-title'><%= event.name %><span>
        <br />
        <span class='simple-calendar--events--event-time'><%= format_time_range_short event.start_time, event.end_time %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<% content_for :schema do %>
  <script type="application/ld+json">
    [
      <% @events.each_with_index do |event, index| %>
        <% if event.name && event.venue %>
          {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "<%= event.name %>",
            "startDate": "<%= event.start_time %>",
            "endDate": "<%= event.end_time %>",
            "location": {
              "@type": "Place",
              "name": "<%= event.venue %>",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "<%= event.address['address1'] %>",
                "addressLocality": "<%= event.address['city'] %>",
                "postalCode": "<%= event.address['zip'] %>",
                "addressRegion": "<%= event.address['state'] %>",
                "addressCountry": "<%= event.address['country_code'] %>"
              }
            },
            "image": "<%= event.image_url %>",
            "description": "<%= event.description %>"
          }<%= ', ' unless index == @events.length - 1 %>
        <% end %>
      <% end %>
    ]
  </script>
<% end %>
