<% content_for :title, "#{@event.name}: #{@event.start_time.strftime('%b %e, %Y')}" %>

<div class="breadcrumbs">
  <%= link_to "Events", events_path %> &raquo; <%= @event.name %>
</div>

<div class="event">
  <div class="hero">
    <h1>
      <%= @event.name %>
    </h1>

    <h2>
      <%= format_date @event.start_time %>
    </h2>
    <% if false %>
      <%= 'Tags: ' if @event.tags.present? %>
      <% @event.tags.each do |tag| %>
        <small class='tag'><%= tag.humanize %></small>
      <% end %>
    <% end %>
  </div>

  <%= @event.description && @event.description.html_safe %>

  <br>

  <h2>Details</h2>
  <p>
    <strong>When:</strong>
    <%= format_date @event.start_time %>,
    <%= format_time_range_short @event.start_time, @event.end_time %>
    <br>
    <strong>Where:</strong>
    <%= @event.venue %>
    <%= @event.full_address %>
    <br>
    <%= link_to 'Add to Google calendar', @event.gcal_url, target: '_blank' %> /
    <%= link_to 'Add to calendar', event_url(@event, slug: @event.slug, format: :ics) %> /
    <%= link_to 'Subscribe to our calendar', events_url(protocol: 'webcal', format: :ics) %>
  </p>
</div>


  </p>

  <% if @event.accept_rsvps %>
    <div class="form__container">
      <h2 id="rsvp">RSVP</h2>
      <p>Will you attend? Let us know!</p>
      <%= form_tag rsvp_path(@event.id) do %>
        <div class="form__group form__name">
          <%= text_field_tag :first_name, params[:first_name], class: 'input', placeholder: 'First name' %>
          <%= text_field_tag :last_name, params[:last_name], class: 'input', placeholder: 'Last name' %>
        </div>
        <div class='form__group form__signup'>
          <%= email_field_tag :email, params[:email], class: 'input signup__email', placeholder: 'E-mail', required: true %>
        </div>
        <% if @event.rsvp_phone %>
          <div class='form__group form__signup'>
            <%= phone_field_tag :mobile, params[:mobile], class: 'input signup__email', placeholder: 'Mobile phone', required: true %>
          </div>
        <% end %>
        <%= submit_tag 'Submit', class: 'button button-secondary' %>
      <% end %>
    </div>
  <% end %>

  <% if !@event.full_address.blank? %>
    <% if ENV['GOOGLE_MAPS_KEY'] %>
      <iframe
        width="100%"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_KEY'] %>
          &q=<%= @event.full_address.gsub(/\s/, '+') %>" >
      </iframe>
    <% else %>
      <p>
        Please set a Google Maps API key in the environment to view maps.
      </p>
    <% end %>
  <% else %>
    <p>No location listed.</p>
  <% end %>
</div>

<% content_for :schema do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "<%= @event.name %>",
      "startDate": "<%= @event.start_time %>",
      "endDate": "<%= @event.end_time %>",
      "location": {
        "@type": "Place",
        "name": "<%= @event.venue %>",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "<%= @event.address['address1'] %>",
          "addressLocality": "<%= @event.address['city'] %>",
          "postalCode": "<%= @event.address['zip'] %>",
          "addressRegion": "<%= @event.address['state'] %>",
          "addressCountry": "<%= @event.address['country_code'] %>"
        }
      },
      "image": "<%= @event.image_url %>",
      "description": "<%= @event.description %>"
    }
  </script>
<% end %>
