<% person_params = params[:person] || {} %>
<%= form_tag signup_path do %>
  <div class='form__group'>
    <%= email_field_tag 'person[email]', person_params[:email], class: 'input signup__email', placeholder: 'E-mail', required: true %>
    <% if @page.form_collect_phone? %>
      <%= phone_field_tag 'person[mobile]', person_params[:mobile], class: 'input signup__phone', placeholder: 'Mobile phone', required: true %>
    <% end %>
    <%= hidden_field_tag 'page_id', @page.id %>
    <%= submit_tag 'Submit', class: 'button button-primary' %>
  </div>
<% end %>
