<%= content_for :title, @page.title %>

<div class="content__centered">
  <% if @page.parent %>
    <div class='breadcrumbs'>
      <% for parent in @page.all_parents.reverse %>
        <%= link_to parent.title, parent.slug %> &raquo;
      <% end %>
      <%= @page.title %>
    </div>
  <% end %>
  <article>
    <h1><%= @page.title %></h1>

    <%= @page.content.html_safe %>
  </article>

  <div class="subpages">
    <% @page.subpages.listed.each_with_index do |subpage, index| %>
      <%= link_to page_path(subpage), class: "subpages--subpage" do %>
        <span><%= subpage.subtitle %>&nbsp;</span>
        <span class='subpages--subpage--link'>
          <span><%= subpage.title %></span>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
