<%= content_for :title, @page.meta_title.present? ? @page.meta_title : @page.title %>
<%= content_for :description, @page.meta_desc %>

<% if @page.background_image_url.present? %>
  <% content_for :before_content do %>
    <div class='hero hero-with-image' style='background-image: url(<%= @page.background_image_url %>);'>
      <div class='container'>
        <%= content_tag(:h1, @page.title) %>
        <%= content_tag(:p, @page.subtitle) if @page.subtitle.present? %>
      </div>
    </div>
  <% end %>
<% end %>


<% unless @page.home? %>
  <div class='breadcrumbs'>
    <!-- Always put a Home at the beginning, then ignore it within all_parents -->
    <%= link_to 'Home', root_url %> &raquo;
    <% for parent in @page.all_parents.reverse %>
      <% next if parent.home? %>
      <%= link_to parent.title, page_path(parent) %> &raquo;
    <% end %>
    <%= @page.title %>
  </div>
<% end %>


<article>
  <% if @page.background_image_url.blank? %>
    <div class='hero'>
      <%= content_tag(:h1, @page.title) %>
      <%= content_tag(:p, @page.subtitle, class: 'text-light') if @page.subtitle.present? %>
    </div>
  <% end %>

  <div class='quill-output'><%= @page.content.html_safe %></div>
</article>

<% if @page.show_form %>
  <%= render partial: 'signup' %>
<% end %>

<div class="card-links">
  <% @page.subpages.listed.each_with_index do |subpage, index| %>
    <%= link_to page_path(subpage), class: "card-link" do %>
      <span class='title'><%= subpage.title %></span>
      <% if subpage.subtitle.present? %>
        <span class='subtitle'><%= subpage.subtitle %></span>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= render partial: 'schema' %>
