<%= content_for :title, @page.title %>

<div class="content__centered">
  <div class='breadcrumbs'>
    <%= link_to 'Home', root_url %> &raquo;
    <% for parent in @page.all_parents.reverse %>
      <%= link_to parent.title, parent.slug %> &raquo;
    <% end %>
    <%= @page.title %>
  </div>
  <article>
    <h1><%= @page.title %></h1>

    <%= @page.content.html_safe %>
  </article>

  <% if @page.show_form %>
    <%= render partial: 'signup' %>
  <% end %>

  <div class="subpages">
    <% @page.subpages.listed.each_with_index do |subpage, index| %>
      <%= link_to page_path(subpage), class: "subpages--subpage" do %>
        <span><%= subpage.subtitle %>&nbsp;</span>
        <span class='subpages--subpage--link'>
          <span><%= subpage.title %></span>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
