<% content_for :title, 'Join' %>

<div class='hero'>
  <h1>Join East Bay DSA</h1>
</div>

<article>
  <h3>Just curious? Attend an event!</h3>
  <p>
    Want to learn more about East Bay DSA? Attend one of our many events in the area to find out how you can get involved in improving the lives of working people.
  </p>
  <p>
    <%= link_to 'Find an event', events_path, class: 'button button-primary' %>
  </p>
</article>
<br />

<article>
  <h3>Subscribe to our Newsletter</h3>
  <p>
    Stay up-to-date on local upcoming events and actions!
  </p>

  <% person_params = params[:person] || {} %>
  <%= form_tag signup_path do %>
    <%if @state == 'error' %>
      <div class='signup__error'>Error: E-mail cannot be blank!</div>
    <% end %>
    <div class='signup'>
      <%= email_field_tag 'person[email]', person_params[:email], class: 'input signup__email', placeholder: 'E-mail', required: true %>
      <%= submit_tag 'Submit', class: 'button button-primary' %>
    </div>
  <% end %>
</article>
<br>

<article>
  <h3>Become an official member</h3>
  <p>
    If you want to vote at meetings, you'll need to officially join National DSA on their website and pay dues.
    All dues-paying members of National DSA living in the East Bay are automatically members of East Bay DSA.
  </p>
  <p>
    <%= link_to 'Join National DSA', 'https://dsausa.org/join', class: 'button button-primary' %>
  </p>

  <p>
    If you're already a member and just need to renew your membership,
    <%= link_to 'click here.', 'http://renew.eastbaydsa.org/' %>
  </p>
</article>

<article>
  <h3>Not sure where to get started?</h3>
  <p>
    The new member cohort is a group for new members who want to learn more about socialism and organizing.
    It’s a fun way to meet other members and get plugged into one of our political fights right here in the East Bay. 
  </p>
  <p>
    <%= link_to 'Join the New Member Cohort', 'https://www.eastbaydsa.org/join/new-member-cohort/', class: 'button button-primary' %>
  </p>
</article>
