<!DOCTYPE html>
<html>
  <head>
    <% title = yield :title %>
    <title>East Bay DSA <%= title.blank? ? '' : "| #{title}" %></title>
    <%= csrf_meta_tags %>

    <% if ENV['GOOGLE_ANALYTICS_ID'] %>
      <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', <%= ENV['GOOGLE_ANALYTICS_ID'] %>);
      </script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if admin_signed_in? %>
      <section class='admin'>
        <div class='container'>
          <div class='admin__menu'>
            <%= link_to 'Admin Dashboard →', admin_dashboard_path, class: 'admin__link' %>
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'admin__link' %>
          </div>
        </div>
      </section>
    <% end %>

    <div class='header'>
      <div class='container header__container '>
        <%= link_to(image_tag('dsa-logo-with-text.svg', class: 'header__logo'), root_path) %>

        <ul class='header__menu'>
          <% header_menu_items.each do |item| %>
            <li class='header__menu_item'><%= link_to item.label, item.slug %></li>
          <% end %>
        </ul>

        <div class='header__links'>
           <div class='header__link'><%= link_to '', 'https://www.facebook.com/eastbaydsa/', class:'fa fa-facebook' %></div>
           <div class='header__link'><%= link_to '', 'https://twitter.com/dsaeastbay', class:'fa fa-twitter' %></div>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class='footer'>
      <div class='container footer__nav'>
        <div>
          <h3>Get Involved</h3>
          <ul class='footer__nav_list'>
            <% footer_menu_items.each do |item| %>
              <li><%= link_to item.label, item.slug %></li>
            <% end %>
          </ul>
        </div>
        <div>
          <h3>About Us</h3>
          <div class='footer__content'>
            The East Bay Democratic Socialists of<br>
            America (DSA) are democratically<br>
            building a progressive movement for<br>
            social change in local communities<br>
            and politics.
          </div>
        </div>
        <div>
          <h3>Follow Us</h3>
          <div class='footer__links'>
            <div class='footer__link'><%= link_to '', 'https://www.facebook.com/eastbaydsa/', class:'fa fa-facebook' %></div>
            <div class='footer__link'><%= link_to '', 'https://twitter.com/dsaeastbay', class:'fa fa-twitter' %></div>
          </div>
        </div>
      </div>
      <div class='container footer__copyright'>
        © 2017 East Bay DSA. All Rights Reserved
      </div>
    </div>
  </body>
</html>
