<!DOCTYPE html>
<html>
  <head>
    <% title = yield :title %>
    <title><%= title.blank? ? '' : "#{title} | " %>East Bay DSA</title>
    <%= csrf_meta_tags %>

    <% if ENV['GOOGLE_ANALYTICS_ID'] %>
      <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', <%= ENV['GOOGLE_ANALYTICS_ID'] %>);
      </script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='header'>
      <div class='container'>
        <div>
          <%= link_to(image_tag('dsa-logo-with-text-and-subtitle.svg', class: 'header__logo'), root_path) %>

          <%= link_to 'javascript:void(0);', class: 'hamburger', onclick: '$(".header__menu").toggleClass("show");' do %>
            <i class='fa fa-bars'></i>
          <% end %>
        </div>

        <ul class='header__menu'>
          <% header_menu_items.each do |item| %>
            <li><%= link_to item.label, item.slug %></li>
          <% end %>
          <% if admin_signed_in? %>
            <li><%= link_to 'Admin', current_admin_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>

    <div class='footer'>
      <div class='container'>
        <div class='footer__menu'>
          <article>
            <p class='text-light'>Get Involved</p>
            <p>
              <% footer_menu_items.each do |item| %>
                <%= link_to item.label, item.slug %><br>
              <% end %>
            </p>
          </article>
        </div>
        <div class='footer__info'>
          <article>
            <p class='text-light'>About Us</p>
            <p>
              The East Bay Democratic Socialists of
              America (DSA) are democratically
              building a progressive movement for
              social change in local communities
              and politics.
            </p>
          </article>

          <article>
            <p class='text-light'>Follow Us</p>
            <p>
              <%= link_to 'Facebook', 'https://www.facebook.com/eastbaydsa/' %><br>
              <%= link_to 'Twitter', 'https://twitter.com/dsaeastbay' %>
            </p>
          </article>

          <p class='text-light'> © 2017 East Bay DSA. All Rights Reserved </p>

        </div>
      </div>
    </div>
  </body>
</html>
