<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= [yield(:title), 'East Bay DSA'].select(&:present?).join(' - ') %></title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="<%= yield(:title) %>" />
    <% if yield(:description).present? %>
    <meta name="description" content="<%= yield(:description) %>">
    <meta name="og:description" content="<%= yield(:description) %>">
    <% end %>
    <% if yield(:meta).present? %>
      <%= yield(:meta) %>
    <% end %>


    <% if ENV['GOOGLE_ANALYTICS_ID'] %>
      <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['GOOGLE_ANALYTICS_ID'] %>');
      </script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

    <%= render partial: 'layouts/schema' %>
  </head>

  <body>

    <div class='header'>
      <nav class='container'>
        <%= link_to(image_tag('dsa-logo-with-text-and-subtitle.svg', class: 'header__logo'), root_path) %>

        <button class="hamburger" type="button" aria-label="menu" aria-expanded="false">
          <i class='fa fa-bars'></i>
        </button>

        <ul class='header__menu' role="menu">
          <% header_menu_items.each do |item| %>
            <li><%= link_to item.label, item.slug %></li>
          <% end %>
          <% if admin_signed_in? %>
            <li><%= link_to 'Admin', current_admin_path %></li>
          <% end %>
        </ul>
        <!--<ul class='header__menu' role="menu">
        	<%# if session.key?(:userinfo) %>
	        	<li>
	        		<a><%#= session[:userinfo]["info"]["nickname"] %></a>
	        	</li>
	        	<li>
        			<a href="/auth/logout">Logout</a>
        		</li>
	        <%# else %>
		        <li>
					<a href="/auth/auth0">Login</a>
				</li>
			<%# end%>
		</ul>-->
      </nav>
    </div>

    <%= yield %>

    <div class='footer'>
      <div class='home-container home-content container container-full-width'>
        <div class='footer__menu'>
          <article>
            <p class='text-light'>Get Involved</p>
            <p>
              <% footer_menu_items.each do |item| %>
                <%= link_to item.label, item.slug %><br>
              <% end %>
            </p>
          </article>

          <article>
            <p class='text-light'>Get In Touch</p>
            <p>
              <%= link_to 'info@eastbaydsa.org', 'mailto:info@eastbaydsa.org' %>
            </p>
          </article>
        </div>
        <div class='footer__info'>        	
          <% if Setting.search_in_footer %>
            <article>
              <%= form_tag 'https://duckduckgo.com/', method: :get, onsubmit: "this.elements['q'].value = 'site:#{current_domain} ' + this.elements['term'].value;" do %>
                <div class='form__group'>
                  <%= text_field_tag 'term', nil, class: 'input', placeholder: "Search #{current_domain}", required: true %>
                  <%= hidden_field_tag 'q' %>
                  <%= submit_tag 'Search', class: 'button button-primary' %>
                </div>
              <% end %>
            </article>
          <% end %>
        	
          <article>
            <p class='text-light'>About Us</p>
            <p>
              The East Bay Democratic Socialists of
              America (DSA) are democratically
              building a progressive movement for
              social change in local communities
              and politics.
            </p>
          </article>

          <article>
            <p class='text-light'>Follow Us</p>
            <p>
              <%= link_to 'Facebook', 'https://www.facebook.com/eastbaydsa/' %><br>
              <%= link_to 'Twitter', 'https://twitter.com/dsaeastbay' %>
            </p>
          </article>

          <p class='text-light'>Made with love by your East Bay DSA comrades 🌹</p>
        </div>
        
    	<div class='footer__info'>
    	  <a class="twitter-timeline" data-height="400" href="https://twitter.com/DSAEastBay?ref_src=twsrc%5Etfw">Tweets by DSAEastBay</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    	</div>
    </div>
  </body>
</html>
