<!DOCTYPE html>
<html>
  <head>
    <title>East Bay DSA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <% if admin_signed_in? %>
        <li>
          <%= link_to 'Go to admin', admin_dashboard_path %>
        </li>
        <li>
          <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_admin_session_path)  %>
        </li>
      <% end %>
    </ul>

    <hr/ >

    <h1>East Bay DSA</h1>

    <ul>
      <% @menu.each do |item| %>
        <li><%= link_to item.label, '/' + item.slug %></li>
      <% end %>
    </ul>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <%= yield %>

    <hr />

    Footer

  </body>
</html>
